# MATH 210 Introduction to Mathematical Computing

## March 28, 2018

* import with pandas.read_csv

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.integrate as spi
import pandas as pd
%matplotlib inline

### Importing data with pandas.read_csv

In [2]:
data = pd.read_csv('04770123-eng.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 9: invalid continuation byte

There is an encording error. This dataset comes from the Goverment of Canada and there are probably some French accent characters that pandas doesn't recognize. Let's try again and specify `encoding='Latin'` to pandas that there are accent characters in the data.

In [4]:
data = pd.read_csv('04770123-eng.csv',encoding='latin')

The data is imported as a panda DataFrame. This is like a spreadsheet with column names and row index. To get a summary of the data, let's get a summary of the data, let's use the function `.info()`.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5159 entries, 0 to 5158
Data columns (total 8 columns):
Ref_Date      5159 non-null object
GEO           5159 non-null object
INS           5159 non-null object
RAN           5159 non-null object
STA           5159 non-null object
Vector        5159 non-null object
Coordinate    5159 non-null object
Value         5159 non-null object
dtypes: object(8)
memory usage: 322.5+ KB

We have 5159 rows of data and 8 columns. The word `object` menas text. That's fine for most of the columns since `INS` is the name of the university but `value` should be a number. Let's use the function `.head()` to see the first 5 rows of the data.

In [6]:
data.head()

,Ref_Date,GEO,INS,RAN,STA,Vector,Coordinate,Value
0,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Total teaching staff,v113286602,1.1.2.1,294.0
1,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Teaching staff excluded,v113286603,1.1.2.2,12.0
2,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Average (dollars),v113286604,1.1.2.3,153550.0
3,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Median (dollars),v113286605,1.1.2.4,151325.0
4,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,10th Percentile (dollars),v113286606,1.1.2.5,129900.0

Why is the column `Value` imported as text and not a float? Let's take a look. We can select a column using a brackets and clumn name.

In [7]:
data['Value']

0          294.0
1           12.0
2       153550.0
3       151325.0
4       129900.0
5       174875.0
6           42.0
7           12.0
8       159675.0
9       156425.0
10      132825.0
11      188475.0
12         252.0
13      152525.0
14      151325.0
15      129900.0
16      174875.0
17         420.0
18           6.0
19      123500.0
20      120125.0
21      108475.0
22      142750.0
23          60.0
24             x
25      130300.0
26      128750.0
27      114625.0
28      146775.0
29         363.0
          ...
5129     88300.0
5130        54.0
5131           x
5132     82275.0
5133     85525.0
5134     68500.0
5135     88300.0
5136        12.0
5137     77700.0
5138     77700.0
5139     77700.0
5140     77700.0
5141       255.0
5142         6.0
5143     88050.0
5144     88300.0
5145     77700.0
5146     90325.0
5147       117.0
5148           x
5149     87125.0
5150     88300.0
5151     81725.0
5152     88300.0
5153       138.0
5154           x
5155     88825.0
5156     88300.0
5157     77700.0
5158     91425.0
Name: Value, dtype: object

Missing data in the `Value` column is represented by an `x`. We need to import the data and tell pandas that missing data is called `x`.

In [8]:
data = pd.read_csv('04770123-eng.csv',encoding='latin', na_values = 'x')

In [9]:
data.info

<bound method DataFrame.info of        Ref_Date     GEO                                                INS  \
0     2016/2017  Canada  Memorial University of Newfoundland - Includin...
1     2016/2017  Canada  Memorial University of Newfoundland - Includin...
2     2016/2017  Canada  Memorial University of Newfoundland - Includin...
3     2016/2017  Canada  Memorial University of Newfoundland - Includin...
4     2016/2017  Canada  Memorial University of Newfoundland - Includin...
5     2016/2017  Canada  Memorial University of Newfoundland - Includin...
6     2016/2017  Canada  Memorial University of Newfoundland - Includin...
7     2016/2017  Canada  Memorial University of Newfoundland - Includin...
8     2016/2017  Canada  Memorial University of Newfoundland - Includin...
9     2016/2017  Canada  Memorial University of Newfoundland - Includin...
10    2016/2017  Canada  Memorial University of Newfoundland - Includin...
11    2016/2017  Canada  Memorial University of Newfoundland - Includin...
12    2016/2017  Canada  Memorial University of Newfoundland - Includin...
13    2016/2017  Canada  Memorial University of Newfoundland - Includin...
14    2016/2017  Canada  Memorial University of Newfoundland - Includin...
15    2016/2017  Canada  Memorial University of Newfoundland - Includin...
16    2016/2017  Canada  Memorial University of Newfoundland - Includin...
17    2016/2017  Canada  Memorial University of Newfoundland - Includin...
18    2016/2017  Canada  Memorial University of Newfoundland - Includin...
19    2016/2017  Canada  Memorial University of Newfoundland - Includin...
20    2016/2017  Canada  Memorial University of Newfoundland - Includin...
21    2016/2017  Canada  Memorial University of Newfoundland - Includin...
22    2016/2017  Canada  Memorial University of Newfoundland - Includin...
23    2016/2017  Canada  Memorial University of Newfoundland - Includin...
24    2016/2017  Canada  Memorial University of Newfoundland - Includin...
25    2016/2017  Canada  Memorial University of Newfoundland - Includin...
26    2016/2017  Canada  Memorial University of Newfoundland - Includin...
27    2016/2017  Canada  Memorial University of Newfoundland - Includin...
28    2016/2017  Canada  Memorial University of Newfoundland - Includin...
29    2016/2017  Canada  Memorial University of Newfoundland - Includin...
...         ...     ...                                                ...
5129  2016/2017  Canada                    University of the Fraser Valley
5130  2016/2017  Canada                    University of the Fraser Valley
5131  2016/2017  Canada                    University of the Fraser Valley
5132  2016/2017  Canada                    University of the Fraser Valley
5133  2016/2017  Canada                    University of the Fraser Valley
5134  2016/2017  Canada                    University of the Fraser Valley
5135  2016/2017  Canada                    University of the Fraser Valley
5136  2016/2017  Canada                    University of the Fraser Valley
5137  2016/2017  Canada                    University of the Fraser Valley
5138  2016/2017  Canada                    University of the Fraser Valley
5139  2016/2017  Canada                    University of the Fraser Valley
5140  2016/2017  Canada                    University of the Fraser Valley
5141  2016/2017  Canada                    University of the Fraser Valley
5142  2016/2017  Canada                    University of the Fraser Valley
5143  2016/2017  Canada                    University of the Fraser Valley
5144  2016/2017  Canada                    University of the Fraser Valley
5145  2016/2017  Canada                    University of the Fraser Valley
5146  2016/2017  Canada                    University of the Fraser Valley
5147  2016/2017  Canada                    University of the Fraser Valley
5148  2016/2017  Canada                    University of the Fraser Valley
5149  2016/2017  Canada                    University of the Fraser Valley
5150  2016/2017  Canada                    University of the Fraser Valley
5151  2016/2017  Canada                    University of the Fraser Valley
5152  2016/2017  Canada                    University of the Fraser Valley
5153  2016/2017  Canada                    University of the Fraser Valley
5154  2016/2017  Canada                    University of the Fraser Valley
5155  2016/2017  Canada                    University of the Fraser Valley
5156  2016/2017  Canada                    University of the Fraser Valley
5157  2016/2017  Canada                    University of the Fraser Valley
5158  2016/2017  Canada                    University of the Fraser Valley

                                       RAN                        STA  \
0                           Full professor       Total teaching staff
1                           Full professor    Teaching staff excluded
2                           Full professor          Average (dollars)
3                           Full professor           Median (dollars)
4                           Full professor  10th Percentile (dollars)
5                           Full professor  90th Percentile (dollars)
6        With senior administrative duties       Total teaching staff
7        With senior administrative duties    Teaching staff excluded
8        With senior administrative duties          Average (dollars)
9        With senior administrative duties           Median (dollars)
10       With senior administrative duties  10th Percentile (dollars)
11       With senior administrative duties  90th Percentile (dollars)
12    Without senior administrative duties       Total teaching staff
13    Without senior administrative duties          Average (dollars)
14    Without senior administrative duties           Median (dollars)
15    Without senior administrative duties  10th Percentile (dollars)
16    Without senior administrative duties  90th Percentile (dollars)
17                     Associate professor       Total teaching staff
18                     Associate professor    Teaching staff excluded
19                     Associate professor          Average (dollars)
20                     Associate professor           Median (dollars)
21                     Associate professor  10th Percentile (dollars)
22                     Associate professor  90th Percentile (dollars)
23       With senior administrative duties       Total teaching staff
24       With senior administrative duties    Teaching staff excluded
25       With senior administrative duties          Average (dollars)
26       With senior administrative duties           Median (dollars)
27       With senior administrative duties  10th Percentile (dollars)
28       With senior administrative duties  90th Percentile (dollars)
29    Without senior administrative duties       Total teaching staff
...                                    ...                        ...
5129  Without senior administrative duties  10th Percentile (dollars)
5130                   Assistant professor       Total teaching staff
5131                   Assistant professor    Teaching staff excluded
5132                   Assistant professor          Average (dollars)
5133                   Assistant professor           Median (dollars)
5134                   Assistant professor  10th Percentile (dollars)
5135                   Assistant professor  90th Percentile (dollars)
5136        Rank below assistant professor       Total teaching staff
5137        Rank below assistant professor          Average (dollars)
5138        Rank below assistant professor           Median (dollars)
5139        Rank below assistant professor  10th Percentile (dollars)
5140        Rank below assistant professor  90th Percentile (dollars)
5141  All ranks combined (including deans)       Total teaching staff
5142  All ranks combined (including deans)    Teaching staff excluded
5143  All ranks combined (including deans)          Average (dollars)
5144  All ranks combined (including deans)           Median (dollars)
5145  All ranks combined (including deans)  10th Percentile (dollars)
5146  All ranks combined (including deans)  90th Percentile (dollars)
5147                                  Male       Total teaching staff
5148                                  Male    Teaching staff excluded
5149                                  Male          Average (dollars)
5150                                  Male           Median (dollars)
5151                                  Male  10th Percentile (dollars)
5152                                  Male  90th Percentile (dollars)
5153                                Female       Total teaching staff
5154                                Female    Teaching staff excluded
5155                                Female          Average (dollars)
5156                                Female           Median (dollars)
5157                                Female  10th Percentile (dollars)
5158                                Female  90th Percentile (dollars)

          Vector Coordinate     Value
0     v113286602    1.1.2.1     294.0
1     v113286603    1.1.2.2      12.0
2     v113286604    1.1.2.3  153550.0
3     v113286605    1.1.2.4  151325.0
4     v113286606    1.1.2.5  129900.0
5     v113286607    1.1.2.6  174875.0
6     v113286608    1.1.3.1      42.0
7     v113286609    1.1.3.2      12.0
8     v113286610    1.1.3.3  159675.0
9     v113286611    1.1.3.4  156425.0
10    v113286612    1.1.3.5  132825.0
11    v113286613    1.1.3.6  188475.0
12    v113286614    1.1.4.1     252.0
13    v113286616    1.1.4.3  152525.0
14    v113286617    1.1.4.4  151325.0
15    v113286618    1.1.4.5  129900.0
16    v113286619    1.1.4.6  174875.0
17    v113286620    1.1.5.1     420.0
18    v113286621    1.1.5.2       6.0
19    v113286622    1.1.5.3  123500.0
20    v113286623    1.1.5.4  120125.0
21    v113286624    1.1.5.5  108475.0
22    v113286625    1.1.5.6  142750.0
23    v113286626    1.1.6.1      60.0
24    v113286627    1.1.6.2       NaN
25    v113286628    1.1.6.3  130300.0
26    v113286629    1.1.6.4  128750.0
27    v113286630    1.1.6.5  114625.0
28    v113286631    1.1.6.6  146775.0
29    v113286632    1.1.7.1     363.0
...          ...        ...       ...
5129  v113291316   1.84.7.5   88300.0
5130  v113291318   1.84.8.1      54.0
5131  v113291319   1.84.8.2       NaN
5132  v113291320   1.84.8.3   82275.0
5133  v113291321   1.84.8.4   85525.0
5134  v113291322   1.84.8.5   68500.0
5135  v113291323   1.84.8.6   88300.0
5136  v113291324   1.84.9.1      12.0
5137  v113291326   1.84.9.3   77700.0
5138  v113291327   1.84.9.4   77700.0
5139  v113291328   1.84.9.5   77700.0
5140  v113291329   1.84.9.6   77700.0
5141  v113291336  1.84.11.1     255.0
5142  v113291337  1.84.11.2       6.0
5143  v113291338  1.84.11.3   88050.0
5144  v113291339  1.84.11.4   88300.0
5145  v113291340  1.84.11.5   77700.0
5146  v113291341  1.84.11.6   90325.0
5147  v113291342  1.84.12.1     117.0
5148  v113291343  1.84.12.2       NaN
5149  v113291344  1.84.12.3   87125.0
5150  v113291345  1.84.12.4   88300.0
5151  v113291346  1.84.12.5   81725.0
5152  v113291347  1.84.12.6   88300.0
5153  v113291348  1.84.13.1     138.0
5154  v113291349  1.84.13.2       NaN
5155  v113291350  1.84.13.3   88825.0
5156  v113291351  1.84.13.4   88300.0
5157  v113291352  1.84.13.5   77700.0
5158  v113291353  1.84.13.6   91425.0

[5159 rows x 8 columns]>

In [10]:
data.head()

,Ref_Date,GEO,INS,RAN,STA,Vector,Coordinate,Value
0,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Total teaching staff,v113286602,1.1.2.1,294.0
1,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Teaching staff excluded,v113286603,1.1.2.2,12.0
2,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Average (dollars),v113286604,1.1.2.3,153550.0
3,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,Median (dollars),v113286605,1.1.2.4,151325.0
4,2016/2017,Canada,Memorial University of Newfoundland - Includin...,Full professor,10th Percentile (dollars),v113286606,1.1.2.5,129900.0

Let's see the different entries in the column `Ref_Date`.

In [11]:
data['Ref_Date'].unique()

array(['2016/2017'], dtype=object)

In [12]:
data['GEO'].unique()

array(['Canada'], dtype=object)

The column `Ref_date` and `GEO` have only one value so let's drop it.

In [13]:
data.drop(['Ref_Date','GEO'], axis = 1, inplace = True)

The columns `Vector` and `Coordinate`

In [14]:
data['Coordinate'].nunique()

5159

These solumns seem to be IDs. We can drop them too.

In [15]:
data.drop(['Coordinate','Vector'], axis = 1, inplace = True)

Let's take a look.

In [16]:
data.head()

,INS,RAN,STA,Value
0,Memorial University of Newfoundland - Includin...,Full professor,Total teaching staff,294.0
1,Memorial University of Newfoundland - Includin...,Full professor,Teaching staff excluded,12.0
2,Memorial University of Newfoundland - Includin...,Full professor,Average (dollars),153550.0
3,Memorial University of Newfoundland - Includin...,Full professor,Median (dollars),151325.0
4,Memorial University of Newfoundland - Includin...,Full professor,10th Percentile (dollars),129900.0

How many different institutions are in the dataset?

In [17]:
data['INS'].unique

<bound method Series.unique of 0       Memorial University of Newfoundland - Includin...
1       Memorial University of Newfoundland - Includin...
2       Memorial University of Newfoundland - Includin...
3       Memorial University of Newfoundland - Includin...
4       Memorial University of Newfoundland - Includin...
5       Memorial University of Newfoundland - Includin...
6       Memorial University of Newfoundland - Includin...
7       Memorial University of Newfoundland - Includin...
8       Memorial University of Newfoundland - Includin...
9       Memorial University of Newfoundland - Includin...
10      Memorial University of Newfoundland - Includin...
11      Memorial University of Newfoundland - Includin...
12      Memorial University of Newfoundland - Includin...
13      Memorial University of Newfoundland - Includin...
14      Memorial University of Newfoundland - Includin...
15      Memorial University of Newfoundland - Includin...
16      Memorial University of Newfoundland - Includin...
17      Memorial University of Newfoundland - Includin...
18      Memorial University of Newfoundland - Includin...
19      Memorial University of Newfoundland - Includin...
20      Memorial University of Newfoundland - Includin...
21      Memorial University of Newfoundland - Includin...
22      Memorial University of Newfoundland - Includin...
23      Memorial University of Newfoundland - Includin...
24      Memorial University of Newfoundland - Includin...
25      Memorial University of Newfoundland - Includin...
26      Memorial University of Newfoundland - Includin...
27      Memorial University of Newfoundland - Includin...
28      Memorial University of Newfoundland - Includin...
29      Memorial University of Newfoundland - Includin...
                              ...
5129                      University of the Fraser Valley
5130                      University of the Fraser Valley
5131                      University of the Fraser Valley
5132                      University of the Fraser Valley
5133                      University of the Fraser Valley
5134                      University of the Fraser Valley
5135                      University of the Fraser Valley
5136                      University of the Fraser Valley
5137                      University of the Fraser Valley
5138                      University of the Fraser Valley
5139                      University of the Fraser Valley
5140                      University of the Fraser Valley
5141                      University of the Fraser Valley
5142                      University of the Fraser Valley
5143                      University of the Fraser Valley
5144                      University of the Fraser Valley
5145                      University of the Fraser Valley
5146                      University of the Fraser Valley
5147                      University of the Fraser Valley
5148                      University of the Fraser Valley
5149                      University of the Fraser Valley
5150                      University of the Fraser Valley
5151                      University of the Fraser Valley
5152                      University of the Fraser Valley
5153                      University of the Fraser Valley
5154                      University of the Fraser Valley
5155                      University of the Fraser Valley
5156                      University of the Fraser Valley
5157                      University of the Fraser Valley
5158                      University of the Fraser Valley
Name: INS, dtype: object>

In [18]:
data['INS'].nunique

<bound method IndexOpsMixin.nunique of 0       Memorial University of Newfoundland - Includin...
1       Memorial University of Newfoundland - Includin...
2       Memorial University of Newfoundland - Includin...
3       Memorial University of Newfoundland - Includin...
4       Memorial University of Newfoundland - Includin...
5       Memorial University of Newfoundland - Includin...
6       Memorial University of Newfoundland - Includin...
7       Memorial University of Newfoundland - Includin...
8       Memorial University of Newfoundland - Includin...
9       Memorial University of Newfoundland - Includin...
10      Memorial University of Newfoundland - Includin...
11      Memorial University of Newfoundland - Includin...
12      Memorial University of Newfoundland - Includin...
13      Memorial University of Newfoundland - Includin...
14      Memorial University of Newfoundland - Includin...
15      Memorial University of Newfoundland - Includin...
16      Memorial University of Newfoundland - Includin...
17      Memorial University of Newfoundland - Includin...
18      Memorial University of Newfoundland - Includin...
19      Memorial University of Newfoundland - Includin...
20      Memorial University of Newfoundland - Includin...
21      Memorial University of Newfoundland - Includin...
22      Memorial University of Newfoundland - Includin...
23      Memorial University of Newfoundland - Includin...
24      Memorial University of Newfoundland - Includin...
25      Memorial University of Newfoundland - Includin...
26      Memorial University of Newfoundland - Includin...
27      Memorial University of Newfoundland - Includin...
28      Memorial University of Newfoundland - Includin...
29      Memorial University of Newfoundland - Includin...
                              ...
5129                      University of the Fraser Valley
5130                      University of the Fraser Valley
5131                      University of the Fraser Valley
5132                      University of the Fraser Valley
5133                      University of the Fraser Valley
5134                      University of the Fraser Valley
5135                      University of the Fraser Valley
5136                      University of the Fraser Valley
5137                      University of the Fraser Valley
5138                      University of the Fraser Valley
5139                      University of the Fraser Valley
5140                      University of the Fraser Valley
5141                      University of the Fraser Valley
5142                      University of the Fraser Valley
5143                      University of the Fraser Valley
5144                      University of the Fraser Valley
5145                      University of the Fraser Valley
5146                      University of the Fraser Valley
5147                      University of the Fraser Valley
5148                      University of the Fraser Valley
5149                      University of the Fraser Valley
5150                      University of the Fraser Valley
5151                      University of the Fraser Valley
5152                      University of the Fraser Valley
5153                      University of the Fraser Valley
5154                      University of the Fraser Valley
5155                      University of the Fraser Valley
5156                      University of the Fraser Valley
5157                      University of the Fraser Valley
5158                      University of the Fraser Valley
Name: INS, dtype: object>

In [19]:
data['RAN'].unique()

array(['Full professor', 'With senior administrative duties',
       'Without senior administrative duties', 'Associate professor',
       'Assistant professor', 'Rank below assistant professor',
       'All ranks combined (including deans)', 'Male', 'Female',
       'Other teaching staff', 'Visiting Staff', 'Sex unknown/other'], dtype=object)

In [20]:
data['STA'].unique()

array(['Total teaching staff', 'Teaching staff excluded',
       'Average (dollars)', 'Median (dollars)',
       '10th Percentile (dollars)', '90th Percentile (dollars)'], dtype=object)

In [27]:
data_men_women = data[(data['RAN'] == 'Male') | (data['RAN'] == 'Female')]

In [29]:
data_men_women_median = data_men_women[data_men_women['STA'] == 'Median (dollars)']

In [31]:
data_men_women_median.groupby(['INS','RAN'])['Value']